@import 'variables';
@import 'mixins';
@import 'events';
@import 'include-media';

@font-face {
  font-family: myFirstFont;
}

.App {
  color: $text-color;
  @include responsive-height(16,9);
  /* Inclusive and exclusive operators for a finer control over the intervals */
  @include media(">phone", "<=tablet") {
    width: 50%;
  }
  /* Use ligatured operators if you fancy a slicker declaration */
  @include media("≥phone", "≤tablet") {
    line-height: 1.5;
  }
}

.App-nav, footer {
  text-align: center;
  background-color: $primary-color;
  color: $second-color;
}

.App-nav > * {
  text-decoration: none;
  color: $second-color;
  margin: 0 auto;
  padding: 1%;
  &:hover {
    color: $third-color;
  }
  .search {
    width: 30%;
    height: 25px;
  }
}

.App-content {
  min-height: 85vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.logo {
  font-size: larger;
  font-weight: bold;
}

.error {
  color: darkred;
  font-size: x-small;
}

.link-icon {
  height: 3vh;
  alignment: center;
}

.cover {
  @include background-cover("../../public/img/download.jpg");
  @include responsive-height(16,9);
}